<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>

    <div>
        <form action="#" th:action="@{/update}" method="post" th:object="${emailSetting}"  >
        <table>
            <tr>
                <td>Settings</td>
            </tr>
            <tr>
                <td>Languages</td>
                <td>
                    <select th:field="*{language}">
                        <option value="Vietnames">Vietnamese</option>
                        <option value="Francai">Francai</option>
                        <option value="Espana">Espana</option>
                        <option value="English">English</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Page size : Show</td>
                <td>
                    <select th:field="*{pageSize}">
                        <option value="25%">25%</option>
                        <option value="50%">50%</option>
                        <option value="75%">75%</option>
                        <option value="100%">100%</option>
                    </select>
                    emails per page
                </td>
            </tr>
            <tr>
                <td>Spams filters</td>
                <td></td>
            </tr>
            <tr>
                <td>Signature</td>
                <td><textarea th:field="*{signature}" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="Save"></td>
            </tr>
        </table>
        </form>
    </div>


<footer th:replace="/layout :: footer">
</footer>
</body>
</html>